*.npy
*.png
*.jpg
*.json
*.pth
*/data/

*.pyc
output_influence/*
datasets/*
models/*
results/*
__pycache__/
build/
dist/
bin/
lib/
lib64
logfile.log
pytorch_influence_functions.egg-info/
pyvenv.cfg
.vscode/
.idea/
/.python-version
/pytorch_influence_functions/test_influence_functions/lightning_logs/
*.JPEG
*.~vsdx
